.App {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.App-header {
  width: 50%;
  background-color: #6e88a4;
  color: white;
}

.App-main {
  width: 97%;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}

.Chat{
  width: 50%;
  float: right;
}

h1 {
  font-size: 28px;
  margin: 0 0 10 0;
}

.file-upload label {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.pdf-preview {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 10px 0;
}
